.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 38px;
    font-weight: bold;
    line-height: 34px;
    height: 75px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 83px;
}

.square:focus {
    outline: none;
}